.footer {
  background-color: #fff8f3;
  padding-top: 130px;
  padding-bottom: 130px;
}
.footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .contact_info .contact_info_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.footer .contact_info .contact_info_subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  max-width: 562px;
  margin-bottom: 30px;
}
.footer .contact_info .contact_info_social {
  display: flex;
  gap: 24px;
}
.footer .contact_info .contact_info_social img {
  cursor: pointer;
}
.footer .footer_contact .footer_contact_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  text-transform: capitalize;
  margin-bottom: 28px;
}
.footer .footer_contact .footer_contact,
.footer .footer_contact .footer_contact_message {
  display: block;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  width: 461px;
  height: 64px;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #757575;
  border: 1px solid #ffffff;
  color: #000000;
}
.footer .footer_contact .footer_contact_message {
  padding-top: 18px;
  padding-bottom: 134px;
  color: #000000;
}
.footer .footer_contact .footer_contact:focus,
.footer .footer_contact .footer_contact_message:focus {
  outline: none;
  border: 1px solid #fd6e0a;
}
.footer .footer_contact .footer_contact_submit {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  padding: 18px 39px;
  border-radius: 5px;
  background-color: #fd6e0a;
  border: 1px solid #fd6e0a;
  cursor: pointer;
  transition: all linear 0.2s;
}
.footer .footer_contact .footer_contact_submit:hover {
  background-color: transparent;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  transition: all linear 0.2s;
}
